* {
    font-family: Impact, serif;
}

body {
    margin: 0;
    background-color: #f5c22e;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: #003fa7;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    background-color: #223b71;
    color: #f5c22e;
    font-family: Impact, serif;
    font-size: 20px;
    margin: 5px 0;
}

article p {
    margin: 0;
}

#header-img {
    background: #dcdcdc;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header-img img {
    width: 400px;
}

.image-link{
    display: block;
}

#sonic-link {
    background-image: radial-gradient(rgba(61,158,203,0.81), rgba(0,15,255,0.81));
}

#streets-of-rage-link {
    background-image: radial-gradient(#ff5d61, #ff2a28);
    padding-bottom: 7px;
}

#vectorman-link {
    background-image: radial-gradient(#ff5d61, #007a00);
    padding: 15px 10px;
}

#monkey-ball-link {
    background-image: radial-gradient(#ffe8a9, #ffe500);
}

#persona-link {
    background-image: radial-gradient(circle, blue, yellow, red);
}
